.app {
  padding: 30px;
  background-color: #f9f9f9;
  color: #333;
  font-size: 14px;

}

.breadcrumb {
  font-size: 14px;
  color: #888;
  margin-bottom: 15px;
}

.page-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 25px;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.search-icon {
  font-size: 20px;
  margin-left: 10px;
  color: #555;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-table th, .user-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.user-table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

.user-table tr:hover {
  background-color: #f9f9f9;
}

.action-button {
  padding: 8px 15px;
  border: none;
  border-radius: 6px;
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
}

.action-button.edit {
  background-color: #4CAF50;
  color: white;
}

.action-button.delete {
  background-color: #f44336;
  color: white;
}

.action-button:hover {
  opacity: 0.8;
}

.add-button {
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.add-button:hover {
  background-color: #005f73;
}

.add-button svg {
  margin-right: 10px;
}

.search-add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.modal-content input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.modal-content input:focus {
  border-color: #008CBA;
  outline: none;
}

.modal-content button {
  padding: 10px 20px;
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #005f73;
}
